<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json-data</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>JSON 데이터 서버 전송 데이터</h1>

    <h3>회원 정보 입력</h3>
    <table>
        <tr>
            <td>닉네임</td>
            <td><input type="text" name="nickname" id="nickname"/></td>
        </tr>
        <tr>
            <td>나이</td>
            <td><input type="number" name="age" id="age"/></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="email" name="email" id="email"/></td>
        </tr>
        <tr>
            <td>가입일</td>
            <td><input type="date" name="registDate" id="registDate"/></td>
        </tr>
    </table>

    <button onclick="sendJquery()">jQuery로 전송</button>

    <script>

        function sendJquery() {

            const nickname = document.querySelector("#nickname").value;
            const age = document.querySelector("#age").value;
            const email = document.querySelector("#email").value;
            const registDate = document.querySelector("#registDate").value;

            <!--4가지의 데이터를 객체로 작성(변수명을 키값으로 쓰겠다는 의미로 축약해서 작성)-->
            const userInfo = { nickname, age, email, registDate };
            <!--위는 자바스크립트 객체이기 때문에 통신을 통해 보내야 하는 것은 JSON 문자열이기 때문에 stringify로 JSON 문자열로 passing 처리-->
            const json = JSON.stringify(userInfo);

            console.log("userInfo", userInfo);
            console.log("json", json);

            const onError = xhr => console.log(xhr);
            const onSuccess = data => console.log(data);

            $.ajax({
                //통신과 관련된 정보를 객체로 넘김
                url : '/jquery/json',
                method : 'POST',
                data : json,
                contentType : 'application/json; charset=UTF-8',
                error : onError,
                success : onSuccess
            });

      }
    </script>
</body>
</html>