<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
    <h1>회원 가입 페이지</h1>
    <form action="/member/join" method="post">
        <div>
            <lavel>아이디 : </lavel>
            <input type="text" name="id">
        </div>
        <div>
            <lavel>비밀번호 : </lavel>
            <input type="password" name="pwd">
        </div>
        <div>
            <lavel>이름 : </lavel>
            <input type="text" name="name">
        </div>
        <div>
            <button>회원 가입</button>
        </div>
    </form>
</body>
</html>